@keyframes slideBg {
    0% {
        background-image: url('/images/slide1.webp');
    }

    25% {
        background-image: url('/images/slide2.webp');
    }

    50% {
        background-image: url('/images/slide3.webp');
    }

    75% {
        background-image: url('/images/slide4.webp');
    }

    100% {
        background-image: url('/images/slide5.webp');
    }
}